
body{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    margin: 0; 

}
.box1{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box2{
    background-color: blue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3{
    background-color: green;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4{
    background-color: yellow;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}