
body{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: red
}
.box2{
    background-color: blue;
    width: 200px;
    height: 200px;
}
.box3{
    background-color: green;
    width: 200px;
    height: 200px;
}
.box4{
    background-color: yellow;
    width: 200px;
    height: 200px;
}