
form{
     background-image: url("https://www.abes.ac.in/assets/Logo.png");
     background-size: cover;
     color: blue;
}
input[type="text"], input[type="email"], input[type="password"]{
     width:200px;
     padding: 12px 20px;
     margin : 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
}
button{
     background-color: blue;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100px;
}