h1{
    text-align: center;
    color: black
    background-image: url("https://www.abes.ac.in/assets/2.jpg");
}
form{
     background-image: url("https://www.abes.ac.in/assets/2.jpg");
     color: blue;
}