img[alt]{
    border: 10px solid green;
}
img[title]{
    border: 10px solid yellow
}
input[type="text"]{
    background-color: black;
    color: white;
    padding: 10px;
    border: 10px solid greenyellow;
    margin: 10px;
}
input[type="password"]{
    background-color: yellow;
}
input[type="radio"]{
    background-color: red;
}
input[type="checkbox"]{
    background-color: blue;
}