*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
.outer{
    height: 400px;
    width: 400px;
   
    border:5px solid black;
}
#div1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:5px solid green;
    margin-left: 150px;
}
#div2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:5px solid blue;
    margin-left: 150px;
}
#div3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:5px solid red;
    margin-left: 150px;
}