ul{
    display: flex;
}
ul li a{
    margin: 20px;
    text-decoration: none;
    color: white;
    margin-right: 200px;
}
div{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}