.ul{
    display: flex;
    margin: 0px;
}
ul li a{
    margin: 20px;
    text-decoration: none;
    color: white;
    margin-right: 200px;
}
nav{
    background-color: black;
    color: white;
    display: flex;
}