#box {
    background-color:yellow;
}
.Heading{
    color : red
}
.h2{
    color:brown
}
.h3{
    color:blueviolet
}
.box1{float: left;
    height: 100px;
    width: 100px;
    background-color:orange;
}
.box2{float: left;
    height: 100px;
    width: 100px;
    background-color:white;
}
.box3{float: left;
    height: 100px;
    width: 100px;
    background-color: green;
}