h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: normal;
    color: rgb(128, 0, 0);
    text-align: center;
}
p{
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: normal;
    color: rgb(222, 135, 197);
    line-height: 10px;
    letter-spacing: normal;
    text-align: center;
    text-decoration: double;
    text-indent: 10%;
}